<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/muathnassar/IdeaProjects/automation/PracticeWebsiteTesting">
        <classes>
            <class name="tests.StudentRegistrationTest">
                <methods>
                    <include name="simpleRegistrationScenario"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>